/node_modules/**/*
/common/.rollup.cache/**/*
/common/node_modules/**/*
/common/dist/**/*
/common/tsconfig.tsbuildinfo
/main/.rollup.cache/**/*
/main/node_modules/**/*
/main/dist/**/*
/main/tsconfig.tsbuildinfo
/preload/.rollup.cache/**/*
/preload/node_modules/**/*
/preload/dist/**/*
/preload/tsconfig.tsbuildinfo
/renderer/.rollup.cache/**/*
/renderer/node_modules/**/*
/renderer/dist/**/*
/renderer/tsconfig.tsbuildinfo
/packages/node_modules/**/*